//VARS IS SAVE IN THIS FILE


//COLORS
$black: #000;
$white: #EEE;
$cyan: #0985D8;
$grey: #6A6769;

//FONTS

$normal: 400;
$bold: 800;
$light: 300;

//BORDERS

$border-white: 1px solid #EEE;
$border-cyan: 1px solid #0985D8;
$border-grey: 2px solid #95989A;

//DISPLAYS

$medium: 1440px;
$small: 1280px;